.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  text-align: center;
  padding: 2rem;
}

.todo-container h1 {
  color: #646cff;
  font-size: 4rem;
  font-weight: 700;
}

@media (prefers-color-scheme: light) {
  .todo-container h1 {
    color: #535bf2;
  }
}
